#fonts .primary {
  color: #46d1b6;
}
#fonts .contrast {
  color: #ffffff;
  font-weight: 600;
}
#fonts .base {
  color: #525e6f;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
}
#fonts .primary-label {
  color: #525e6f;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
  color: #28a28b;
}
#fonts .summary-data {
  color: #ffffff;
  font-size: 2.1em;
  font-weight: bold;
}
#fonts .secondary-data {
  font-weight: bold;
  font-size: 2.3em;
}
#fonts .primary-data {
  color: #46d1b6;
  font-size: 2em;
}
#fonts .no-data {
  color: #dbddde;
  font-style: italic;
  font-weight: 600;
}
