<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="2.1.6" targetFramework="win" />
  <package id="cordova.TypeScript.DefinitelyTyped" version="0.8.2" targetFramework="win" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.4.0" targetFramework="win" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.2.8" targetFramework="win" />
  <package id="signalr.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="win" />
</packages>