#fonts .primary {
  color: #46d1b6;
}
#fonts .contrast {
  color: #ffffff;
  font-weight: 600;
}
#fonts .base {
  color: #525e6f;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
}
#fonts .primary-label {
  color: #525e6f;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
  color: #28a28b;
}
#fonts .summary-data {
  color: #ffffff;
  font-size: 2.1em;
  font-weight: bold;
}
#fonts .secondary-data {
  font-weight: bold;
  font-size: 2.3em;
}
#fonts .primary-data {
  color: #46d1b6;
  font-size: 2em;
}
#fonts .no-data {
  color: #dbddde;
  font-style: italic;
  font-weight: 600;
}
html,
body {
  height: 100%;
}
body {
  background-color: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
  color: #525e6f;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.7em 1em;
  font-size: 1.3em;
  color: #adadad;
}
.main-content {
  width: 100%;
  min-height: 100%;
}
.header {
  background-color: #2f3c4c;
  height: 7em;
  line-height: 7em;
  position: relative;
  z-index: 2;
}
.header .logo {
  max-width: 15em;
  margin-left: 1em;
}
.menu-container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 7em;
}
.button {
  display: block;
  text-align: center;
}
.button:hover {
  cursor: pointer;
  text-decoration: none;
}
.button[disabled] {
  opacity: 0.5;
}
.button.button-bottom {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5em;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: table;
}
.button.button-bottom span {
  display: table-cell;
  vertical-align: middle;
}
.button.primary {
  background-color: #46d1b6;
}
.button.secondary {
  background-color: #ff7f66;
}
.button.button-settings {
  height: 100%;
  text-align: center;
}
.button.button-settings img {
  max-height: 100%;
  max-width: 100%;
  padding: 25px;
}
label {
  color: #525e6f;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}
.input-row {
  padding-top: 2.5em;
  padding-bottom: 1.5em;
}
.input-row label {
  margin-bottom: 0.5em;
}
input.ng-invalid {
  border: solid 1px #ff7f66;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */
  body {
    font-size: 11px;
  }
}
.home-container {
  text-align: center;
  padding: 40% 10% 0 10%;
}
.home-container > img {
  max-width: 7em;
}
.home-container .no-data-message {
  color: #dbddde;
  font-style: italic;
  font-weight: 600;
}
.button {
  min-height: 13%;
}
.button.button-next {
  background-image: url('../images/next_icon.png');
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 2em;
}
.button .button-signature-img {
  width: 1.5em;
  position: absolute;
  top: 28%;
  left: 30%;
}
.button .button-employee-img {
  width: 1.2em;
  position: absolute;
  top: 30%;
  left: 22%;
}
.view-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 7em;
}
.time-row {
  display: table;
  padding: 2em 0;
  height: 15%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.time-row.start-time {
  background-color: #f1f1f1;
}
.time-row.end-time {
  background-color: #e6e6e6;
}
.time-row .label-col {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.time-row .label-col label.time {
  padding-left: 2em;
  background-image: url('../images/clock_icon.png');
  background-repeat: no-repeat;
  background-size: 1.3em;
  background-position: 0 50%;
}
.time-row .data-col {
  font-weight: bold;
  font-size: 2.3em;
  text-align: right;
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.summary-row {
  background-color: #46d1b6;
  padding: 0.7em 0 0.4em 0;
  height: 15%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: table;
}
.summary-row .summary-col {
  text-align: center;
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.summary-row .summary-col img {
  height: 2.4em;
  display: block;
  margin: 0 auto 0.2em auto;
}
.summary-row .summary-col label {
  color: #525e6f;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
  color: #28a28b;
}
.summary-row .summary-col .ride-data {
  color: #ffffff;
  font-size: 2.1em;
  font-weight: bold;
  margin: 0;
  line-height: 1em;
}
.summary-row .summary-col .ride-data .data-unit {
  font-size: 0.5em;
}
.bing-map {
  height: 45%;
  position: relative;
}
.bing-map .start-pushpin {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #ff7f66;
}
.customer-email-row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  background-color: #e6e6e6;
  min-height: 20%;
}
.customer-email-row label {
  margin-bottom: 0.5em;
}
.customer-signature-row {
  padding-top: 2em;
  height: 80%;
  margin-left: 0;
  margin-right: 0;
}
.canvas-wrapper {
  width: 100%;
  height: 80%;
}
.service-content .service-employee-row {
  min-height: 16%;
}
.service-content .service-bing-map {
  height: 73%;
}
